@import "../variables";
$margin: (($max-width - $container-width) / 2);
.store-product-page{
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding-bottom: 100px;
  &__title{
    display: flex;
    flex-direction: column;
    gap: 4px;
    h1{
      @extend %h1;
      color: $black;
    }
    div{

    }
  }
  &__category{
    display: flex;
    flex-direction: column;
    gap: 24px;
    .title{
      @extend %h2;
      color: $black;
    }
    .list{
      display: flex;
      gap: 24px;
      &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background: white;
        width: 224px;
        height: 132px;
        border-radius: 16px;
        cursor: pointer;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25);
        &:hover{
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 6px 8px rgba(0, 0, 0, 0.25);
        }
        &-active{
          box-shadow: none;
          cursor: default;
          &:hover{
            box-shadow: none;
          }
        }
      }
    }
  }
  &__type{
    display: flex;
    flex-direction: column;
    gap: 24px;
    .title{
      @extend %h2;
      color: $black;
    }
    .list{
      display: flex;
      gap: 32px;
      flex-wrap: wrap;
      &__item{
        @extend %text;
        padding: 4px 12px;
        border-radius: 16px;
        background: $disabled-background;
        color: $disabled-text;
        cursor: pointer;
        &:hover{
          box-shadow: $box-shadow;
        }
        &-active{
          background: $base-yellow;
          color: white;
        }
      }
    }
    &-false{
      animation: type-open linear 100ms forwards;
    }
    &-true{
      animation: type-close linear 100ms forwards;
    }
  }
  &__form{
    padding: 52px 0;
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: min-content;
    gap: 24px;
    &::after{
      height: 100%;
      margin-left: -$margin + 5px;
      margin-right: -$margin + 5px;
      top: 0;
      content: '';
      background: white;
      z-index: -1;
      position: absolute;
      left: -0px;
      right: 0;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25);
    }
    &__photo{
      @extend .col-2;
      align-self: start !important;
      .photo{
        padding: 36px 37px 24px;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        svg{
          cursor: pointer;
        }
      }
      p{
        @extend %caption;
        text-align: center;
        color: $chips-background;
      }
    }
    &__fields{
      @extend .col-8;
      align-self: start !important;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: min-content;
      gap: 52px 24px ;
      .block{
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  }
  &__btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
@keyframes type-open {
  from{
    opacity: 0;
    transform: translateY(-70px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes type-close {
  from{
    opacity: 1;
    transform: translateY(0);
  }
  to{
    opacity: 0;
    transform: translateY(-70px);
  }
}
