@import "./auth";
@import "./add-product-store";
@import "../variables";
@import "./catalog-page";
@import "./item_product";
@import "./card-page";
.home{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 128px;
  padding-bottom: 100px;
}

.card{
  &__row{
    width: 100%;
  }

  &__block{
    width: 100%;
    &__wrapper{
      display: flex;
    }
  }
}
.home-nav-block{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  grid-auto-rows: min-content;
  &_item{
    position: relative;
    height: 520px;
    display: flex; justify-content: center;align-items: center;
    overflow: hidden;
    &:after{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $main-slider-background;
    }
    &:hover{
      .title{
        transform: translateY(0);
        opacity: 1;
        transition: all 0.12s linear;
      }
      .placeholder{
        opacity: 0;
        transition: all 0.12s linear;
      }
    }
    .placeholder{
      @extend %h1;
      color: $white;
      z-index: 1;
      max-width: 324px;
      text-align: center;
      position: absolute;
      bottom: 24px;
      opacity: 1;
      transition: all 0.2s linear;
    }
    .title{
      position: absolute;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      height: 200px;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transform: translateY(200px);
      background: $base-green;
      z-index: 2;
      transition: all 0.2s linear;
      .label{
        @extend %h1;
        color: $white;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .links{
        @extend %text_underline;
        color: $white;
        display: flex;
        gap: 24px;
        a:hover{
          color:$white;
          border-bottom: none;
        }
      }
    }
  }
}
