.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 128px;
  padding-bottom: 100px;
}

.card{
  &__row{
    width: 100%;
  }

  &__block{
    width: 100%;
    &__wrapper{
      display: flex;
    }
  }
}