@import '../variables';
.card-page {
	padding-top: 72px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	gap: 52px;
	&__card {
		display: flex;
		flex-direction: column;
		gap: 8px;
		.title {
			@extend %h1;
			color: $black;
		}
	}
}
