@import '../variables.scss';

.product {
	&__selection {
		display: flex;
		justify-content: space-between;
		margin-bottom: 32px;
		padding: 0 18px;
		&_label {
			display: inline-block;
			margin: 0 0 3px 0;
			color: $base-green;
			font-size: 16px;
		}
	}
	&__wrapper {
		display: flex;
		align-items: end;
		justify-content: space-between;
	}
	&__btn {
		&_btn {
			width: 190px;
		}
		&_wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 170px;
			height: 46px;
		}
		&_text {
			@extend %text_bold;
			color: #ffffff;
			margin-right: 18px;
			font-size: 16px;
		}
	}
}

.store {
	&__grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr;
		gap: 24px;
	}
	&__status_wrapper {
		grid-column: 1 / 3;
		background: #ffffff;
		border-radius: 12px;
		padding: 24px;
		min-height: 460px;
		height: fit-content;
	}
	&__status_list {
		list-style: none;
		&_counter {
			margin-left: 4px;
			padding: 6px 3px;
			border-radius: 100%;
			background-color: $base-yellow;
			width: 28px;
			height: 28px;
			color: #ffffff;
			@extend %small_text_bold;
		}
	}
	&__status_item {
		margin: 24px 0;
		cursor: pointer;
	}
	&__products_list {
		grid-column: 3 / 13;
	}
}
