@import "../../../../styles/variables";

.recomend{
    width: 100%;
    //max-width: $container-width;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 24px;
    &__header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        @extend %h1;
        color: $black2;
        margin: 0;
    }

    &__btn{
        @extend %h3;
        background-color: $base-yellow;
        cursor: pointer;
    }
    &__content{
        display: flex;
        align-items: center;
        gap: 24px;
        &_ad{

        }
        &_card{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(328px,348px));
            justify-content: center;
            grid-auto-rows: min-content;
            gap: 25px 24px;
        }
    }
}