@import "./styles/variables";

.text {
  &__wrapper {
    width: 45%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    @extend %text;
  }
  &__left{
    width: 58%;
  }
  &__strouk{
    align-items: baseline;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  &__description{
    margin: 0 0 20px 0;
    white-space: nowrap;
  }
  &__line{
    width: 100%;
    border: 1px dashed #999999;
    position: relative;
    top: 5px;
  }
  &__link{
    display: inline-block;
    @extend %text_underline;
    color: $base-green;
    cursor: pointer;
    margin: 20px 0 0 0;
  }
  &__right__wrapper{
  }
  &__right{
    margin-bottom: 20px;
    white-space: nowrap;
  }
}