@import "../styles/variables";

/* .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1376px;
}

.subheader {
  position: relative;
  margin-bottom: 120px;
}

.subheader__items {
  padding: 40px 0 20px 0;
}

.products-list__wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

.products-list__tabs ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list__tabs ul li {
  margin: 0 3px 0 3px;
  color: #484C52;
}

.products-list__tabs ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Inter';
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding: 10px 9px 8px 12px;
  border-radius: 8px 8px 0 0;
}

.products-list__tabs ul li.active a {
  margin-right: 7px;
  margin-left: 4px;
  padding: 10px 9px 8px 12px;
  background: #fff;
  border-radius: 8px 8px 0 0;
  color: #005623;
}

.sublogo {
  padding: 7px;
}

.product__text {
  color: #484C52;
}

.product__price {
  margin: 11px 0 9px 0px;
}

/* **************************************Characterictics****************************** */

.characteristics__title {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #484C52;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.characteristics__subtitle {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #484C52;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.carousel {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  width: 448px;
  height: 448px;
  background: #FFFFFF;
  border-radius: 16px;
  margin-right: 50px;
}

.carousel-indicators [data-bs-target] {
  top: 50px;
  margin: 24px 14px 0;
}

.character__img {
  display: inherit;
  width: 229.4px;
  height: 325.2px;
  margin: 0 auto;
}

.characteristics {
  margin-bottom: 72px;
}


.coast__btn {
  background: #008E3B;
  border-radius: 10px;
  color: #FFFFFF;
  margin-left: 54px;
}

/* *************************************description********************************** */

.flex-start {
  align-items: flex-start;
}

.description__btn {
  width: 100%;
  height: 48px;
  border: 2px solid #008E3B;
  border-radius: 8px;
  font-size: 24px;
  line-height: 33px;
  color: #008E3B;
  margin-top: 4px;
  letter-spacing: 0.8px;
}

.description {
  max-width: 565px;
  margin-right: 116px;
  margin-bottom: 13px;
}

.description__table {
  width: 564px;
  height: 206px;
  border: 2px solid #484C52;
  border-radius: 8px;
  margin-bottom: 12px;
  font-size: 16px;
  display: flex;
  justify-content:center;
  align-items: center;
  color: #484C52;
}

.text-mb {
  margin-bottom: 32px;
}

/* **********************fullcharacteristics************** */

.fullcharacteristics-text__wrapper {
  width: 548px;
  margin-right: 132px;
  margin-bottom: 13px;
}

.buttons {
  margin-top: 20px;
  justify-content: center;
}

.buttons__btn,
.save {
  display: inline-block;
  height: 48px;
  border-radius: 8px;
  font-size: 24px;
  line-height: 33px;
  color: #109648;
  border: 2px solid #109648;
  background-color: #fff;
  margin-right: 20px;
  padding: 0 16px;
  transition: all .5s;
}

.buttons__btn:hover {
  background-color: #109648;
  color: #fff;
}

.save {
  background-color: #109648;
  color: #fff;
  margin-right: 0;
}
