.root {
  background: #FF7A00;
  border-radius: 16px;
}

.deleteIcon {
  fill: #414141;
}

.label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #F2FAF5;
  padding-right: 9px;
}