@import "../../../../styles/pages/welcome-page.module";

.comments__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 52px;

  .chevrons {
    display: flex;
    align-items: center;
    justify-content: center;
    .chevron {
      height: 48px;
      width: 48px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: rgba(179, 182, 188, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        margin-right: 12px;
      }
    }
  }
}


.mountPointWrapper {
  position: relative;

  .mountPoint {
    display: flex;
    position: absolute;
    transition: all 0.2s linear;
  }
}