@import "../variables";
.nav-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $container_width;
  @media screen and (max-width: 1464px){
    padding: 0 15px;
  }
  &__links{
    display: flex;
    align-items: stretch;
    align-self: stretch;
    gap: 32px;
    .link{
      @extend %menu;
      color: $white;
      display: flex;
      align-items: center;
      transition: all ease-in-out 0.1s;
      cursor: pointer;
      &:hover{
        border-top: 4px solid $white;
      }
    }
    .link_active{
      color: $green_link;
    }
  }
  &__logo{
    @extend .col-2;
    align-self: center !important;
  }
  &__category{
    @extend .col-3;
    align-self: center !important;
  }
  &__search{
    @extend .col-7;
    align-self: center !important;
  }
  &__other{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5vw;
    .btn{
      @extend %small_text_bold;
      text-align: center;
      width: auto;
      padding: 12px 10px;
      white-space: nowrap;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: $base-yellow;
      border-radius: 8px;
    }
  }
  &__settings{
    display: flex;
    align-items: flex-end;
    gap: 24.5px;
    .link{
      @extend %text_mobile;
      gap: 4px;
      color: $white;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        background: transparent;
        transform: scale(1);
        width: 43px;
        height: 43px;
        top: calc(50% - (43px / 2));
        left: calc(50% - (43px / 2));
        border-radius: 50%;
        opacity: 0;
        transition: all linear .2s;

      }
      &:hover{
        text-decoration: underline;
        &::after{
          content: '';
          position: absolute;
          background: $base-yellow;
          width: 43px;
          height: 43px;
          transform: scale(1);
          top: calc(50% - (43px / 2));
          left: calc(50% - (43px / 2));
          border-radius: 50%;
          opacity: 0.5;
          transition: all linear .2s;
        }
      }

    }
  }

}
.drop {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: calc(324px - 32px);
  min-width: calc(300px - 32px);
  &__title{
    display: flex;
    justify-content: center;align-items: center;
    text-align: center;
  }
  &__links{
    display: flex;
    flex-direction: column;
    gap: 12px;
    .item{
      @extend %text;
      color: $black;
      cursor: pointer;
    }
    .separator{
      height: 2px;
      width: 100%;
      background: $LineBackground;
    }
  }
  &__footer{
    @extend %small_text_underline;
    color: $base-yellow;
    cursor: pointer;
    margin-top: 54px;
  }
}
.dropdown-absolute{
  position: absolute;
  opacity: 0;
  max-height: 0;
  background: white;
  padding: 16px;
  transition: all .2s linear;
  transition-property: opacity,box-shadow;
  overflow: hidden;
  z-index: 999;
  box-shadow: $box-shadow;
  border-radius: 8px;
  &-true{
    opacity: 1;
    max-height: 500px;
    transition: all .2s linear;
    transition-property: opacity,box-shadow;
  }
  &-false{
    opacity: 0;
    max-height: 500px;
    transition: all .2s linear;
    transition-property: opacity,box-shadow;
  }
}
