@import "../variables";
.nav-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and(max-width: $container_width){
    padding: 0 15px;
  }
  &__links{
    display: flex;
    align-items: stretch;
    align-self: stretch;
    gap: 32px;
    .link{
      @extend %menu;
      color: $black;
      display: flex;
      align-items: center;
      transition: all ease-in-out 0.1s;
      &:hover{
        color:$base-green;
        border-bottom: 4px solid $base-green;
      }
    }
    .link_active{
      color: $green_link;
    }
  }
  &__other{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    .btn{
      @extend %small_text_bold;
      text-align: center;
      width: 116px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: $base-yellow;
      border-radius: 8px;
    }
  }
  &__settings{
    display: flex;
    align-items: flex-end;
    gap: 24.5px;
    .link{
      @extend %text_mobile;
      gap: 4px;
      color: $mute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}