@import "styles/variables";

.root {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding-right: 10px;
  position: relative;
  background: $SelectLightGrey;
  transition: all 0.2s linear;

  & fieldset {
    border: 1px solid transparent;
    transition: all 0.2s linear;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }

  &:hover {
    background: $RadioAndCheckboxAndSelectWhite;

    & fieldset {
      border: 1px solid $SelectLightGrey2;
    }
  }

  &:active {
    background: $RadioAndCheckboxAndSelectWhite;

    & fieldset {
      border: 1px solid $SelectLightGrey2;
    }
  }
}

.extended {
  background: $RadioAndCheckboxAndSelectWhite;

  & fieldset {
    border: 2px solid $SelectLightGrey2 !important;
  }
}

.icon {
  fill: $SelectLightGrey5;
}

.iconDisabled {
  fill: $SelectLightGrey4;
}

.iconOpen {
  fill: $black;
}

.select {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;

  color: $SelectLightGrey5;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  &.little {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
  }
}

.selectOpen {
  color: $black;
}

.dropdownStyle {
  background: $RadioAndCheckboxAndSelectWhite;
  margin-left: 5px;
  margin-top: 4px;
  box-shadow: $box-shadow;
  border-radius: 8px;
  & ul {
    padding-bottom: 4px;
    padding-top: 4px;
  }
}

.disabled {
  background: $SelectLightGrey3;
  border: 1px solid $SelectLightGrey4;

  &:hover {
    background: $SelectLightGrey3;
    border: 1px solid $SelectLightGrey4;
  }
}

.selectDisabled {
  color: $SelectLightGrey4;
}

.item {
  background: transparent;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 16px;

  position: relative;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $black;

  &:hover {
    background: transparent;
  }

  &.circle:before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid $SelectLightGrey3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 8px;
  }

  &.square:before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid $SelectLightGrey3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 8px;
  }
}