@import "../../../styles/variables";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 16px;
  max-width: 348px;
  min-height: 492px;
  padding: 20px 24px 24px 24px;
  box-sizing: border-box;
  position: relative;
  color: $white;

  &__status{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 32px;
    left: 0;
  }

  &__sale{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 24px;
    background-color: $base-yellow;
    border-radius: 0 4px 4px 0;
    @extend %caption;
  }

  &__new{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 24px;
    background-color: $black;
    border-radius: 0 4px 4px 0;
    @extend %caption;
  }
  &__choice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 24px;
    background-color: $base-green;
    border-radius: 0 4px 4px 0;
    @extend %caption;
  }

  &__item {
    color: $black2;
    list-style: none;
    margin-bottom: 8px;
    @extend %text;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: 120px;
    & svg {
      margin-right: 6px;
    }
  }
  &__rating {
    @extend %caption;
    color: $input-text;
    &_wrap {
      display: flex;
      align-items: center;
    }
  }

  &__price {
    @extend %h3;
    color: $black2;
    &_through {
      text-decoration-line: line-through;
      color: $disabled-text;
      @extend %caption;
      font-style: italic;
      font-weight: 400;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 52px;
    background: $green-btn;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    color: #ffffff;
    border: none;
    padding: 0;
    &_amount {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 16px;
      width: 114px;
      height: 48px;
      border: 2px solid $green-btn;
      border-radius: 8px;
    }
    &_decr{
      cursor: pointer;
    }
    &_incr{
      cursor: pointer;
    }
    &_number{
      @extend %text_bold;
      color: $green-btn;
    }
  }
  &__favorites{
     margin: 0 auto;
    @extend %text_underline;
    color: $base-yellow;
    margin-top: 10px;
    &_del{
      margin: 0 auto;
      @extend %text_underline;
      color: $black;
      margin-top: 10px;
    }
  }
  &__wrapper {
    margin-bottom: 11px;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__img_wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__weight {
    @extend %caption;
    color: $input-text;
  }
}