@import "variables";
html,
body {
  padding: 0;
  background: #edeef3;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}
input{
  border:none;
  outline: none;
}
button {
  padding: 0;
  border: inherit;
  font: inherit;
  color: inherit;
  background-color:inherit;
  cursor: pointer;
}

#__next{
  height: 100vh;
  overflow: auto;
  margin: 0 auto;
}
.active-app-link{
  color: red;
}
.app-link:hover{
  border-bottom: 1px solid black;
}
.app-link{
  cursor: pointer;
}


