@import '/styles/variables';

.text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 10px;

	width: 32px;
	height: 32px;

	/* Green 35% */

	background: rgba(16, 150, 72, 0.3);
	/* Основной зелёный */

	border: 2px solid #0d9545;
	border-radius: 8px;
}
